{% extends 'base.html.twig' %}

{% block title %}
	Bredele-shop
{% endblock title %}

{% block additional_javascripts %}
	<script defer src="{{ asset('/javascript/homepage_slider.js') }}"></script>
	<script defer src="{{ asset('/javascript/homepage_random_quotes.js') }}"></script>
{% endblock %}

{% block additional_stylesheets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
{% endblock %}

{% block main %}

	<section class="mt-10 w-full">
		<div class="relative w-full h-full">
			<img src="{{ asset('/pictures/website_slider/slider1.jpg') }}" alt="" class="slider_picture w-full">
			<img src="{{ asset('/pictures/website_slider/slider2.jpg') }}" alt="" class="slider_picture w-full hidden">
			<img src="{{ asset('/pictures/website_slider/slider3.jpg') }}" alt="" class="slider_picture w-full hidden">
			<img src="{{ asset('/pictures/website_slider/slider4.jpg') }}" alt="" class="slider_picture w-full hidden">
			<img id="slider_arrow_left" src="{{ asset('/pictures/website_icon/logo_slider_arrow.svg') }}" alt="" class="absolute left-4 top-1/2 -translate-y-1/2 rotate-180">
			<img id="slider_arrow_right" src="{{ asset('/pictures/website_icon/logo_slider_arrow.svg') }}" alt="" class="absolute right-4 top-1/2 -translate-y-1/2">
		</div>
	</section>

	<section class="mt-10 ms-8">
		<h2 class="text-4xl my-4 text-main-red">Notre entreprise</h2>
		<p class="fs-6">
			L'entreprise,
			<i>fictive</i>, Bredele a pour but de diffuser la culture gastronimique alsacienne via les gâteaux de Noël appelés les bredele. Les bredele sont des petits biscuits préparés tarditonnellement en Alsace pour les fêtes de Noël. Les recettes de bredele sont transmisses de générations en générations. Voici quelques recettes que vous pourrez cuisiner chez vous.
		</p>
	</section>

	<section class="mt-10 ms-8">
		<h2 class="text-4xl my-4 text-main-red">Nos produits populaires</h2>

		<div class="">
			{% for product in products %}
				<div class="">
					<h3 class="">{{ product.getName }}</h3>
					<p>
						Prix =
						{{ product.getProductPrice }}
						€
					</p>
					<img src="{{ asset( product.getProductProfilPicture ) }}" alt="{{ product.getName }}">
					<button type="button" class="">Ajouter au panier</button>
				</div>
			{% endfor %}

			{% if products is empty %}
				<p>Aucun produit disponible pour le moment</p>
			{% endif %}
		</div>
	</section>

	<section class="mt-10 ms-8">
		<h2 class="text-4xl my-4 text-main-red">Nos recettes</h2>

		<div class="">
			{% for recipe in recipes %}
				<div class="">
					<h3 class="">{{ product.getName }}</h3>
					<p>
						Prix =
						{{ product.getProductPrice }}
						€
					</p>
					<img src="{{ asset( product.getProductProfilPicture ) }}" alt="{{ product.getName }}">
					<button type="button" class="">Ajouter au panier</button>
				</div>
			{% endfor %}

			{% if recipes is empty %}
				<p>Aucune recette disponible pour le moment</p>
			{% endif %}
		</div>
	</section>

	<section class="mt-10 ms-8">
		<h2 class="text-4xl my-4 text-main-red">Sur notre blog</h2>
		<div class="">
			{% for article in articles %}
				<div class="">
					<h3 class="">{{ article.getArticleName }}</h3>
					<img src="{{ asset( article.getArticleProfilPicture ) }}" alt="{{ article.getArticleName }}">
					<button type="button" class="">Lire l'article</button>
				</div>
			{% endfor %}
			{% if articles is empty %}
				<p>Aucun article de blog disponible pour le moment</p>
			{% endif %}
		</div>
		<!--Sélection de livres-->
		<!--Mes codes promos-->
		<!--Outil pratique-->
	</section>

	<section class="mt-10 ms-8">
		<h2 class="text-4xl my-4 text-main-red">Bredele c'est</h2>
		<div class="flex flex-col md:flex-row justify-around items-center">
			<div class="flex flex-col justify-center items-center">
				<h3 class="text-center text-2xl">Satisfait ou remboursé</h3>
				<img src="{{ asset('/pictures/website_icon/logo_opinion.svg') }}" style="width: 100px; height: 100px;" class="" alt="">
				<p class="text-center text-slate-500">14 jours pour changer d'avis et être remboursé</p>
			</div>
			<div class="flex flex-col justify-center items-center">
				<h3 class="text-center text-2xl">Service express</h3>
				<img src="{{ asset('/pictures/website_icon/logo_truck.svg') }}" style="width: 100px; height: 100px;" class="" alt="">
				<p class="text-center text-slate-500">livraison en 24 heures</p>
			</div>
			<div class="flex flex-col justify-center items-center">
				<h3 class="text-center text-2xl">Livraison gratuite</h3>
				<img src="{{ asset('/pictures/website_icon/logo_free.svg') }}" style="width: 100px; height: 100px;" class="" alt="">
				<p class="text-center text-slate-500">Dès 50 euros</p>
			</div>
			<div class="flex flex-col justify-center items-center">
				<h3 class="text-center text-2xl">Paiement sécurisé</h3>
				<img src="{{ asset('/pictures/website_icon/logo_locker.svg') }}" style="width: 100px; height: 100px;" class="" alt="">
				<p class="text-center text-slate-500">Données bancaires cryptées</p>
			</div>
		</div>
	</section>

	<section class="my-10 flex flex-col justify-center items-center">
		<p id="quoteTranslation" class="font-tangerine text-7xl text-main-red-dark">Joyeux Noel</p>
		<p id="quoteLanguage" class="text-xl text-slate-500">Français</p>
	</section>
{% endblock main %}
