<footer class="w-full bg-black mt-auto flex flex-col justify-start">

    <div class="flex justify-between items-center p-10 footer-responsive-menu">
        <h3 class="text-7xl font-bold text-white">Produits</h3>
        <p class="text-7xl font-bold text-white">+</p>
    </div>
    <ul class="list-none text-white text-3xl ps-10 hidden">
        <li class="my-6">
            <a class="no-underline" href="#">Nos réductions</a>
        </li>
        <li class="my-6">
            <a class="no-underline" href="#">Meilleurs ventes</a>
        </li>
        <li class="my-6">
            <a class="no-underline" href="#">Nos nouvautés</a>
        </li>
    </ul>

    <div class="flex justify-between items-center p-10 footer-responsive-menu">
        <h3 class="text-7xl font-bold text-white">Notre compagnie</h3>
        <p class="text-7xl font-bold text-white">+</p>
    </div>
    <ul class="list-none text-white text-3xl ps-10 hidden">
        <li class="my-6">
            <a class="no-underline"  href="#">Livraison</a>
        </li>
        <li class="my-6">
            <a class="no-underline"  href="#">Mentions légales</a>
        </li>
        <li class="my-6">
            <a class="no-underline"  href="#">Conditions d'utilisation</a>
        </li>
        <li class="my-6">
            <a class="no-underline"  href="#">A propos de nous</a>
        </li>
        <li class="my-6">
            <a class="no-underline"  href="#">Payements sécuriés</a>
        </li>
        <li class="my-6">
            <a class="no-underline"  href="#">Magasins</a>
        </li>
    </ul>

    <div class="flex justify-between items-center p-10 footer-responsive-menu">
        <h3 class="text-7xl font-bold text-white">Mon compte</h3>
        <p class="text-7xl font-bold text-white">+</p>
    </div>
    <ul class="list-none text-white text-3xl ps-10 hidden">
        <li class="my-6">
            <a class="no-underline"  href="#">Mon profil</a>
        </li>
        <li class="my-6">
            <a class="no-underline" href="#">Mes commandes</a>
        </li>
    </ul>
     
    <div class="flex flex-col justify-start p-10 text-white">
        <h3 class="text-7xl font-bold">Nous contacter</h3>
        <p>Email :
            <a href="mailto:contact@brunomaucourt.com" class="text-3xl no-underline">contact@brunomaucourt.com</a>
        </p>
    </div>		

	<h3 class="text-7xl font-bold text-white ps-10">Retouvez nous sur nos réseaux sociaux</h3>
	<div class="flex justify-around my-3">
		<a href="#">
			<img src="{{ asset('pictures/website_icon/social_media/LogoFacebook.svg') }}" class="" style="width: 50px; height: 50px;" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('pictures/website_icon/social_media/LogoInstagram.svg') }}" class="" style="width: 50px; height: 50px;"  alt="">
		</a>
		<a href="#">
			<img src="{{ asset('pictures/website_icon/social_media/LogoTwitter.svg') }}" class="" style="width: 50px; height: 50px;"  alt="">
		</a>
		<a href="#">
			<img src="{{ asset('pictures/website_icon/social_media/LogoYoutube.svg') }}" class="" style="width: 50px; height: 50px;"  alt="">
		</a>
		<a href="#">
			<img src="{{ asset('pictures/website_icon/social_media/LogoRSS.svg') }}" class="" style="width: 50px; height: 50px;" alt="">
		</a>
	</div>
    <div class="flex justify-center items-center p-10 text-white">
        <p>Copyright 2023 - <a href="https://brunomaucourt.com" class="text-decoration-none">Bruno Maucourt</a> - Site portfolio</p>
    </div>
</footer>